<div class="answer-container">
  <div
    class="answer-list-item">
      <!-- <p class="answer-username"><strong>Username says</strong></p> -->
      <app-answer-voting-controls
        [score]="answer.votes"
        (emitVote)="onReceiveVote($event)"
      ></app-answer-voting-controls>
      <div class="answer-content">
        <p>
          {{ answer.text }}
        </p>
        <p class="answer-posted-at posted-at">
            <small><em>
            {{ getDaysPassed(answer.createdAt) }}
          </em></small> 
        </p>
      </div>
  </div>
</div>
