<div class="answer-container">
  <div
    *ngFor="let answer of answers; let i = index" 
    class="answer-list-item">
      <p class="answer-username"><strong>Username says</strong></p>
      <p>
        {{ answer }}
      </p>
      <p class="answer-posted-at posted-at">
          <small><em>
            Posted at:
          </em></small>
        </p>
  </div>
</div>

<div class="answer-input">
  <form>
    <label for="answer-input">Post an answer:</label>
    <input 
      id="answer-input"
      name="answer-input" 
      class="form-control" 
      type="text" 
      [(ngModel)]="currentAnswer">
    <button 
      class="btn btn-info"
      (click)="onAnswerSubmit($event)">
      Answer
    </button>
  </form>
</div>