  <div class="question-container">
    <div class="question">
      <div class="question-heading">
        Question
      </div>
      <div class="question-body">
        <!-- <h4>{{ question.username }} asks</h4> -->
        <h3>
          {{ question.text }}
        </h3>
        <p class="posted-at">
          <small><em>
            Posted at: {{ question.createdAt.slice(0, 10) }}
          </em></small>
        </p>
      </div>

    </div>

      <!--Answers-->
      <div class="answer">
        <div class="answer-heading">Answers</div>
          <div class="answer-list">
            <app-answer
              (emitAnswer)="onReceiveAnswer($event)"
              [answers]="question.answers"
              >
            </app-answer>
          </div>
      </div>
  </div>
