  <div class="question-container">
    <div class="question"
      (click)="showAnswers()">
      <div class="question-heading">
        <strong>
          Question
        </strong>
      </div>
      <div class="question-body">
        <!-- <h4>{{ question.username }} asks</h4> -->
        <p>
          {{ question.text }}
        </p>
        <p class="posted-at">
          <small><em>
            {{ getAnswerCount() }}
          </em></small>
          <small><em>
            {{ getDaysPassed(question.createdAt) }}
          </em></small>
        </p>
      </div>

    </div>

      <!--Answers-->
      <div class="answer"
        *ngIf="revealAnswers">
        <div class="answer-heading">
          <strong>
            Answers
          </strong>
        </div>
          <div class="answer-list">
            <app-answer
              (emitAnswer)="onReceiveAnswer($event)"
              [answers]="question.answers"
              >
            </app-answer>
          </div>
      </div>
  </div>
