
<div class="ask-question-wrapper">
  <h1 class="main-title">Ask Away!</h1>
      <form #formCtrl>
        <!-- <label for="username">Username</label>
        <input
          class="form-control" 
          type="text" 
          id="username"
          [(ngModel)]="currentUsername"
          [ngModelOptions]="{standalone: true}"
          > -->
        <label for="question">Question</label>
        <textarea 
          name="question-input"
          class="form-control" 
          rows="2" 
          id="question"
          [(ngModel)]="currentQuestion"
          #questionInput></textarea>
        <button 
          (click)="onQuestionAsked()" 
          class="btn btn-success">Ask</button>
      </form>
</div>

