/* You can add global styles to this file, and also import other style files */

$main-color: #00adef;

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  max-width: 1000px;
  margin: 0 auto;
  color: #333;
  background: $main-color;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea, input {
  padding: 10px;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
}

button {
  border: none;
  color: #666;
  width: 100px;
  margin: 5px auto;
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
}

.main-title {
  font-family: 'Comfortaa';
  font-weight: lighter;
  font-size: 3rem;
}

nav {
  background: $main-color;
  color: white;
  position: fixed;
  width: 100vw;
  height: 44px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  .navbar {
    padding: 10px;
    margin: 0px 10px;
    display: flex;
    .title {
      padding-right: 10px;
    }
    .navigation {
      display: flex;
      > a {
        padding: 10px;
      }
    }
  }
}

.navigation {
  > a {
    border-radius: 2px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    transition: all .2s ease-in-out;
    &:hover {
      box-shadow: inset 0 30px 0 0 white; 
      color: $main-color;
    }
  }
}

#wrapper {
  padding-top: 94px;
  width: 98%;
  margin: 0 auto;
}

.ask-question-wrapper {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 10px;
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    > label {
      margin-top: 10px;
    }
    > input, textarea {
      margin-top: 5px;
      box-shadow: inset 0px -2px 0px 0px skyblue,
                  inset 2px 0px 0px 0px skyblue;
    }
  }
}

#username {
  padding: 0 10px;
}

.answer-input > form {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
} 

.question-container {
  background: pink;
  color: #444;
  background: white;
  max-width: 500px;
  margin: 50px auto;
  padding: 0px;
  border-radius: 2px;
  box-shadow: 0 9px 18px rgba(0,0,0,0.30), 0 5px 5px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#question {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.question {
  padding: 20px;
  cursor: pointer;
}

.posted-at {
  //text-align: right;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  padding-top: 0px;
}

.answer-posted-at {
  display: flex;
  justify-content: flex-end;
}

.question-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.answer-heading {
  margin-left: 50px;
}

.answer-list-item {
  padding: 10px 20px 0px 10px;
  margin: 5px;
  margin-left: 50px;
  box-shadow: -5px 0px 0px 0px $main-color;
  &:nth-child(1) {
    box-shadow: -5px 0px 0px 0px gold;
  }
  &:nth-child(2) {
    box-shadow: -5px 0px 0px 0px silver;
  }
  &:nth-child(3) {
    box-shadow: -5px 0px 0px 0px #CD7F32;
  }
}

.answer-input {
  padding: 20px;
  > form label {
    margin-left: 20px;
  }
}

#answer-input {
  border: 1px solid $main-color;
  margin: 0px 20px;
}

.ask-question-btn, .answer-btn  {
  background: white;
  color:#666;
  transition: all .2s ease-in-out;
  &:hover {
    background: $main-color;
    color:white;
    box-shadow: inset 3px 0px 0px 0px white,
                inset -3px 0px 0px 0px white,
                inset 0px 3px 0px 0px white,
                inset 0px -3px 0px 0px white;
  }
}

.ask-question-btn {
  box-shadow: 0 9px 18px rgba(0,0,0,0.30), 0 5px 5px rgba(0,0,0,0.22);
  &:hover {
    box-shadow: 0 9px 18px rgba(0,0,0,0.30), 0 5px 5px rgba(0,0,0,0.22);
  }
}

.answer-btn {
  background: $main-color;
  color: white;
  
  
  &:hover {
    background: white;
    color:$main-color;
    box-shadow: inset 2px 0px 0px 0px $main-color,
                inset -2px 0px 0px 0px $main-color,
                inset 0px 2px 0px 0px $main-color,
                inset 0px -2px 0px 0px $main-color;
  }
}

.answer-container {
  transition: all .2s ease-in-out;
}